.head-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}
.head-container :nth-child(2) {
    flex-basis: 60%;
}

.ant-btn:disabled {
    cursor: default;
}

.hov-point:hover {
    animation: hov-change 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes hov-change {
    0%{}
    100%{color: rgb(247, 251, 8);}
}
