body ::selection {
    background-color: rgb(126, 40, 0);
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
